.gridAreaIndex {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "header header header" "SecPrinc SecPrinc SecPrinc"  "Nserv Nserv Nserv" "footer footer footer";
  -ms-grid-rows: auto auto auto 100px;
      grid-template-rows: auto auto auto 100px;
  gap: 0;
}

.seccionPrincipal {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: SecPrinc;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.seccionPrincipal .imagenFondo {
  position: absolute;
  opacity: 0.5;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.seccionPrincipal .textoPrincipal {
  display: inline-block;
  position: relative;
  z-index: 11;
  width: 45%;
  padding: 25px;
  margin-left: 50px;
  margin-bottom: 100px;
}

.seccionPrincipal .textoPrincipal h1 {
  font-family: 'Gwendolyn', cursive;
  font-size: 55px;
  font-weight: 700;
}

.seccionPrincipal .textoPrincipal h3 {
  font-family: 'Balsamiq Sans', cursive;
  font-size: 15px;
}

.seccionPrincipal .textoPrincipal p {
  font-family: 'Balsamiq Sans', cursive;
  font-size: 22px;
}

.carouselEdit {
  display: inline-block;
  z-index: 10;
  width: 40%;
}

#nuestros_servicios {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: Nserv;
}

#nuestros_servicios .titulo {
  font-family: 'Balsamiq Sans', cursive;
  margin-top: 50px;
}

#nuestros_servicios .iconos-home img {
  width: 60px;
}

#nuestros_servicios .divNuestroServicio {
  margin-top: 0px;
  margin-left: 25px;
  padding: 5px;
  display: inline-block;
}

.ItemNuestroServicio {
  font-family: 'Balsamiq Sans', cursive;
  font-weight: 500;
  position: relative;
  padding-left: 15px;
  font-size: 20px;
  color: #0284cd;
}

.ItemNuestroServicio::before {
  font-family: "font awesome 5 free";
  font-weight: 900;
  content: '\f111';
  position: absolute;
  left: -30px;
  top: 10px;
  color: #62bdf2;
  font-size: 20px;
  line-height: 1;
}

.color--tituloCuerpo {
  color: #0284cd;
}

.color--textoCuerpo {
  color: #2002cd;
}

.color--tituloH1 {
  color: black;
}

/* estilo para Faq Mixing y Extend */
.cuerpoContacto {
  grid-area: Contenido;
  width: 100%;
  font-family: 'Balsamiq Sans', cursive;
}

.contactForm {
  width: 80%;
  height: auto;
  margin: 80px 10%;
  border-radius: 10px;
  padding: 5%;
  background-color: #f0f0f0;
}

.contactForm input {
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  margin-top: 10px;
  margin-bottom: 20px;
  padding-left: 10px;
  width: 25%;
  height: 30px;
  display: inline-block;
}

.contactForm textarea {
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  margin-top: 10px;
  margin-bottom: 20px;
  padding-left: 10px;
  width: 55%;
  height: 150px;
  padding-top: 15px;
}

.contactForm .entradaUnica input {
  width: 50%;
  margin-right: 50px;
}

.contactForm .seleccion input {
  width: 5%;
  margin-right: 30px;
}

.boton {
  background-color: white;
  color: black;
  border-color: blue;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
}
/*# sourceMappingURL=Index.css.map */