/* -------------estilos generales------------- */
*{
    box-sizing: border-box;
}

a {
text-decoration: none;
}

.subrayado{
    text-decoration: underline;
} 

.negrita{
    font-weight: 700;
}

.bgOndas{
    background: url(../Img/bg-ondas.jpg) repeat center bottom;
}

.tituloSecciones{
    font-family: 'Balsamiq Sans', cursive;
    font-size: 30px;
    font-weight: 700;
    color: #0284cd;
}

.textoSecciones{
    font-family: 'Balsamiq Sans', cursive;
    font-size: 18px;
    color: #0284cd;
}


/* estilo nav */

.boxHeader{
    grid-area: header;
    background: linear-gradient(to bottom, rgb(110, 196, 250), rgb(129, 222, 245));
    border-bottom: solid darkblue 1px;
}

.menu{
    font-family: 'Montserrat', sans-serif;
}


.itemMenu{
    font-size: 17px;
    transition: all 0.2s;
    margin: 10px;
}

.itemMenu:hover{
    font-size: 20px;
}


/* estilo pie de pagina */

#pieDePagina{
    grid-area: footer;
    background: linear-gradient(to bottom, rgb(129, 222, 245), rgb(32, 104, 212));
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
    position: relative;
    bottom: 0;
}


#pieDePagina div{
    padding-top: 1%;
    width: 33%;
    font-family: 'Architects Daughter', cursive;
    font-weight: bold;
}

.textoPie p{
    font-size: 25px;
}

.itemPie{
    display: flex;
    justify-content: space-evenly;
}

.itemPie p{
    font-size: 25px;
}

.imgfoot{
    height: 75%;
}

/* -------------estilo index.html y Contacto.html------------- */  /* Se incluyen en el Scss */



.gridAreaPaginas{ /* grids para paginas distintas al index */
    display: grid;
    grid-template-areas:
    "header header header"
    "Contenido Contenido Contenido" 
    "footer footer footer";
    grid-template-rows: auto auto 100px;
    gap: 0;
}

/* -------------estilo tratamiento.html------------- */

#cuerpoTratamiento{
    grid-area: Contenido;
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: auto;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.tratamientoItem{
    width: 50%;
    margin-left: 15px;
    margin-right: 15px;
    padding-left: 20px;
    padding-right: 20px;
}

/*  -------------estilo zonas_entrega.html------------- */

.seccionZonas{
    grid-area: Contenido;
}

.cuerpoZonas{
    margin: 30px 30px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.zonasItem{
    width: 50%;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 30px;
    padding-right: 30px;
}

/*  -------------estilo FAQ.html------------- */

.cuerpoFaq{
    grid-area: Contenido;
    width: 80%;
    margin: 30px 10%;
    padding: 20px;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.encabezado h1{
    font-family: 'Balsamiq Sans', cursive;
    font-size: 35px;
    color: #0284cd;
}

.textoPreguntas{
    font-family: 'Balsamiq Sans', cursive;
    color: #0284cd;
    font-size: 18px;
}

/*  -------------estilo Productos.html------------- */

.cuerpoProducto{
    grid-area: Contenido;
    margin: 30px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}


/* media Query */

@media (max-width: 768px){  /* media query nav y Footer */
    .itemMenu{
        font-size: 12px;
        display: inline-block;
        padding: 1%;
        margin: 1%;
    }
    .imgfoot{
        height: 65%;
    }
    #pieDePagina div{
        padding-top: 3%;
        width: 50%;
        font-size: 20px;
    }
    .textoPie{
        display: none;
    }

    .encabezado h1{         /* media para FAQ */
        font-size: 25px;
    }
}

@media (max-width: 1024px){  /* media query contenido index */
    .gridAreaIndex{
        display: grid;
        grid-template-areas:
        "header"
        "SecPrinc" 
        "Nserv"
        "footer";
    gap: 0;
    }
    .seccionPrincipal{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .seccionPrincipal .textoPrincipal{
        position: relative;
        z-index: 11;
        width: 80%;
        padding: 15px;
        margin-left: 20px;
        margin-bottom: 10px;
    }
    .carouselEdit{
        z-index: 10;
        width: 70%;
    }
    #nuestros_servicios{
        padding-left: 5%;
        padding-right: 5%;
    }
}



@media (max-width: 1024px){   /* media query contenido Tratamiento */
    #cuerpoTratamiento{
        display: block;
        margin: 0;
        padding-top: 0;
    }
    .tratamientoItem{
        width: 100%;
        margin-bottom: 10px;
        margin-left: 0;
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (max-width: 1024px){   /* media query contenido Zonas de Entrega */
    .cuerpoZonas{
        flex-direction: column;
        margin: 0;
        padding-top: 0;
    }
    .zonasItem{
        width: 100%;
        margin-bottom: 20px;
        margin-left: 10px;
        padding-left: 0;
        padding-right: 20px;
    }
}

@media (max-width: 1024px){   /* media query Formulario contacto */
    .contactForm{
        width: 90%; 
        margin: 80px 5%;
    }
}
