/* -------------estilos generales------------- */
*{
    box-sizing: border-box;
}

a {
text-decoration: none;
}

.subrayado{
    text-decoration: underline;
} 

/* estilo nav */

.boxHeader{
    grid-area: header;
    background: linear-gradient(to bottom, rgb(110, 196, 250), rgb(129, 222, 245));
    border-bottom: solid darkblue 1px;
}

.menu{
    font-family: 'Montserrat', sans-serif;
}


.itemMenu{
    font-size: 16px;
    transition: all 0.2s;
    margin: 10px;
}

.itemMenu:hover{
    font-size: 20px;
}


/* estilo pie de pagina */

#pieDePagina{
    grid-area: footer;
    /* background-color: rgb(62, 118, 202); */
    background: linear-gradient(to bottom, rgb(129, 222, 245), rgb(3, 86, 211));
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
}


#pieDePagina div{
    padding-top: 1%;
    width: 33%;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.textoPie p{
    font-size: 15px;
}

.itemPie{
    display: flex;
    justify-content: space-evenly;
}
.imgfoot{
    height: 75%;
}

/* -------------estilo index.html------------- */

.gridAreaIndex{
    display: grid;
    grid-template-areas:
    "header header header"
    "SecPrinc SecPrinc SecPrinc" 
    "Nserv Nserv Nserv"
    "footer footer footer";
    grid-template-rows: auto auto auto 100px;
    gap: 0;
}

.seccionPrincipal{
    grid-area: SecPrinc;
    position: relative;
}

.seccionPrincipal .imagenFondo{
    position: absolute;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.seccionPrincipal .textoPrincipal{
    display: inline-block;
    position: relative;
    z-index: 11;
    width: 45%;
    padding: 25px;
    margin-left: 50px;
    margin-bottom: 100px;
}

.seccionPrincipal .textoPrincipal h1{
    font-family: 'Gwendolyn', cursive;
    font-size: 55px;
    color: black;
}

.seccionPrincipal .textoPrincipal h3{
    font-family: 'Balsamiq Sans', cursive;
    font-size: 15px;
    color: darkred;
}

.seccionPrincipal .textoPrincipal p{
    font-family: 'Architects Daughter', cursive;
    font-size: 22px;
    
}

.carouselEdit{
    display: inline-block;
    z-index: 10;
    width: 50%;
}

#nuestros_servicios{
    grid-area: Nserv;
    height: 100%;
    background-color: rgb(192, 192, 189);
}

#nuestros_servicios .titulo{
    font-family: 'Balsamiq Sans', cursive;
    margin-top: 50px;
}

#nuestros_servicios li{
    font-family: 'Architects Daughter', cursive;
    font-size: 20px;
    margin: 10px;
    transition: all 1s;
}

#nuestros_servicios li:hover{
    font-size: 30px;
    margin: 20px;
    text-decoration: underline
}

#nuestros_servicios div{
    margin-top: 0px;
    margin-left: 25px;
    padding: 5px;
}

.cuerpo{
    height: 100%;
    font-family: 'Balsamiq Sans', cursive;
    background-color: #cce7e8;
}

.gridAreaPaginas{ /* gris para paginas distintas al index */
    display: grid;
    grid-template-areas:
    "header header header"
    "Contenido Contenido Contenido" 
    "footer footer footer";
    grid-template-rows: auto auto 100px;
    gap: 0;
}

/* -------------estilos contacto.html------------- */

.cuerpoContacto{
    grid-area: Contenido;
    width: 100%;
    font-family: 'Balsamiq Sans', cursive;
    background-color: #cce7e8;
}

.contactForm{
    width: 80%; 
    height: auto;
    margin: 80px 10%;
    border-radius: 10px;  
    padding: 5%; 
    background-color: #f0f0f0; 
}

.contactForm input{
    background-color: #fbfbfb; 
    width: 25%; 
    height: 30px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    border-color:black; 
    margin-top: 10px;  
    padding-left: 10px;
    margin-bottom: 20px;
    display: inline-block;
}

.contactForm textarea{
    background-color: #fbfbfb; 
    width: 55%; 
    height: 150px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: black; 
    margin-top: 10px;  
    margin-bottom: 20px;
    padding-left: 10px;
    padding-top: 15px; 
}

.entradaUnica input{
    width: 50%;
    margin-right: 50px;
}

.seleccion input{
    width: 5%;
    margin-right: 30px;
}

/* -------------estilo tratamiento.html------------- */

#cuerpoTratamiento{
    grid-area: Contenido;
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: auto;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.formulario label{
    margin: 10px;
}

.formulario p{
    margin-top: 20px;
    margin-left: 10px;
}

.tratamientoItem{
    width: 50%;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 30px;
    padding-right: 30px;
}

.tratamientoItem h2{
    font-family: 'Architects Daughter', cursive;
    font-size: 30px;
}

/*  -------------estilo zonas_entrega.html------------- */

.seccionZonas{
    grid-area: Contenido;
}

.cuerpoZonas{
    margin: 30px 30px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.zonasItem{
    width: 50%;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 30px;
    padding-right: 30px;
}

.zonasItem h2{
    font-family: 'Architects Daughter', cursive;
    font-size: 26px;
    margin-bottom: 50px;
}

.zonasItem p{
    font-size: 20px;
}

/*  -------------estilo FAQ.html------------- */

.cuerpoFaq{
    grid-area: Contenido;
    width: 80%;
    margin: 30px 10%;
    padding: 20px;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.encabezado{
    background: url(../Img/bg-ondas.jpg) no-repeat center bottom;
}

.encabezado h1{
    font-family: 'Balsamiq Sans', cursive;
    font-size: 35px;
    color: #0284cd;
    font-weight: 500;
}

/*  -------------estilo Productos.html------------- */

.cuerpoProducto{
    grid-area: Contenido;
    margin: 30px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}


/* media Query */

@media (max-width: 768px){  /* media query nav y Footer */
    .itemMenu{
        font-size: 12px;
        display: inline-block;
        padding: 1%;
        margin: 1%;
    }
    .imgfoot{
        height: 75%;
    }
    #pieDePagina div{
        padding-top: 3%;
        width: 50%;
        font-size: 20px;
    }
    .textoPie{
        display: none;
    }

    .encabezado h1{         /* media para FAQ */
        font-size: 25px;
    }
}

@media (max-width: 1024px){  /* media query contenido index */
    .gridAreaIndex{
        display: grid;
        grid-template-areas:
        "header"
        "SecPrinc" 
        "Nserv"
        "footer";
    gap: 0;
    }
    .seccionPrincipal .textoPrincipal{
        display: inline-block;
        position: relative;
        z-index: 11;
        width: 80%;
        padding: 15px;
        margin-left: 50px;
        margin-bottom: 10px;
    }
    #nuestros_servicios{
        padding-left: 5%;
        padding-right: 5%;
    }
    .carouselEdit{
        display: inline-block;
        z-index: 10;
        width: 100%;
    }
}



@media (max-width: 1024px){   /* media query contenido Tratamiento */
    #cuerpoTratamiento{
        display: block;
        margin: 0;
        padding-top: 0;
    }
    .tratamientoItem{
        width: 100%;
        margin-bottom: 10px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (max-width: 1024px){   /* media query contenido Zonas de Entrega */
    .cuerpoZonas{
        display: block;
        margin: 0;
        padding-top: 0;
    }
    .zonasItem{
        width: 100%;
        margin-bottom: 10px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (max-width: 1024px){   /* media query Formulario contacto */
    .contactForm{
        width: 90%; 
        margin: 80px 5%;
    }
}
